.config-bg h3{text-align: center;}
.container{position: relative;}
.image-container{
    display: flex; flex-wrap: wrap; gap: 1rem;  padding: 20px;
    margin: 0 auto;

    .image{
        max-width: 420px; padding: 10px; border-radius: $curvatura-icones; box-shadow: $sombra-padrao;overflow: hidden;display: flex;justify-content: center;align-items: center;flex-direction: column;flex-wrap: nowrap;gap: 1rem; cursor: pointer;

        img{ width: 100%;border-radius: $curvatura-icones; object-fit: cover; transition: .2s linear;}

        .btn-dow{padding: 5px 15px;box-shadow: $sombra-secundaria;border-radius: $curvatura-icones;width: 100%;text-align: center;font-weight: bold;color: rgb(85, 85, 85);}

        .active-ak{
            background-color: #0F5FA6; color: #fff;
            &:hover{background-color: #0d73cc;}
        }
        
        
    }
}
.popup-image{
    position: fixed; top:0; left: 0; background-color: rgba(0,0,0,0.5); height: 100%; width: 100%; z-index: 1002; display: none;

    span{position: absolute; right: 20px; top: 20px; font-size: 3rem; font-weight: bold; color: #fff; cursor:pointer;}

    img{position: absolute; top: 10px; left: 30%; ;border-radius: $curvatura-icones; max-width: 450px; object-fit: cover;}

}