.config-cabecalho{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
    img{max-width: 285px; }
    .config-txt-cabecalho{ max-width: 50%; margin-left: 10px;  line-height: 1.3em;}
    .btn_sobre{font-weight: 400; color: $cor_links_claro; font-weight: 600; }
    .btn_sobre:hover{  text-decoration: underline;transition: 0.9s;}

}

// header chamada princiapl
.config-chamada{
    padding: 30px 0; text-align: center;
    width: 80%; background:linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(240,240,240,1) 25%, rgba(240,240,240,1) 74%, rgba(229,229,229,1) 100%);margin: 0px auto;
    h4{font-size: 2rem;}
    small{font-size: 1.3rem;}
}
.config-bg-2{background-color: #f1f1f1;}