// home
.config-navegacao-container{padding: 20px 30px ;margin: 0 auto;
    h3{margin: 20px 15px; font-size: 1.3rem; font-weight: bold; text-transform: uppercase;}
}
.config-bg{ padding: 20px 0; background-color: $cor_fundo_quebra;}
.config-bg-2{ padding: 20px 0;}
.config-navegacao-principal-items{
    display: flex;flex-wrap: wrap;margin: 0 auto;justify-content: flex-start;align-items: center;

    li{ 
        margin: 10px; max-width: 400px; min-height: 220px; text-align: center; border-radius: $curvatura-icones; box-shadow: $sombra-padrao; 
            transition: 0.5s;
            background-color: #fff; 
        &:hover{
            background-color: #c2c2c2; 
            transition: 0.9s;

        }


    }
    img{ max-width: 150px;  display: block; margin: 0 auto; margin: 20px;}

    a{
        display: flex; align-items: center; justify-content: flex-end;  text-align: center; flex-wrap: nowrap;
        color: rgb(49, 49, 49); font-weight: bold;

        small{

            display: block;font-weight: 500; width: 100%;padding: 10px;color: rgb(224, 224, 224);border-radius: $curvatura-icones 0 0 $curvatura-icones;

            span{display: block;padding: 5px;margin-bottom: 5px;color: #fff;font-weight: bold;}
        }
        
        .bg-ak{background:linear-gradient(253deg, rgba(15,95,166,0.719) 0%, rgba(15,95,166,1) 100%); box-shadow: $sombra-secundaria;}
        .bg-usk-sodas{background: linear-gradient(253deg, rgba(247, 26, 18, 0.719) 0%, rgba(247,26,18,1) 100%);box-shadow: $sombra-secundaria;}
        .bg-compressores{background: linear-gradient(253deg, rgba(50,50,50,719) 0%, rgba(50,50,50,1) 100%);box-shadow: $sombra-secundaria;}
        .bg-ferramentas{background: linear-gradient(253deg, rgba(18,42,65,719) 0%, rgba(18,42,65,1) 100%);box-shadow: $sombra-secundaria;}
        .bg-pneumaticas{background: linear-gradient(90deg, rgba(19,122,69,1) 0%, rgba(19,122,69,0.719) 100%);box-shadow: $sombra-secundaria;}
        .bg-bombas{background: linear-gradient(90deg, rgba(29,49,135,1) 0%, rgba(31,58,140,0.719) 100%);box-shadow: $sombra-secundaria;}
        .bg-gray{background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0.719) 100%);box-shadow: $sombra-secundaria;}

    } 
    
   
}